---
import Button from '@components/modules/Button.astro';
import Picture from '@components/modules/Picture.astro';

interface Props {
    items?: Array<string>;
    modalText?: string;
    buttonText?: string;
    class?: string;
    [x: string]: any;
}

const {
    items = [],
    modalText,
    buttonText,
    class: className,
    ...rest
} = Astro.props;


    ---
<div class="prizes lootery-section">
    {items.map((item) => (
        <div class="item-prize">
            <div class="item-prize__detail">
                <div class="item-prize__title"><a href=`#${item.image}` class="item-prize__link" data-fancybox="prizes" set:html={item.title}></a></div>
                <div class="item-prize__count" set:html={item.count}></div>
            </div>
            <div class="item-prize__photo">
                <Picture
                    class="item-prize__image"
                    name={item.image}
                    directory="img/lootery/prizes/"
                    type="png"
                    imageWidth="500"
                    imageHeight="400"
                ></Picture>
            </div>
            <div class="item-prize__arrow">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.125 10H16.875"/>
                    <path d="M11.25 4.375L16.875 10L11.25 15.625"/>
                </svg>
            </div>
        </div>
    ))}

    {items.map((item, index) => (
        <div class="lootery-modal" id={item.image} style="display: none;">
            <div class="lootery-modal__photo">
                <Picture
                    class="lootery-modal__image"
                    name={item.image}
                    directory="img/lootery/prizes/"
                    type="png"
                    imageWidth="500"
                    imageHeight="400"
                ></Picture>
            </div>
            <h3 class="lootery-modal__title" set:html={item.title}></h3>
            <div class="lootery-modal__param" set:html={item.param}></div>
            <div class="lootery-modal__descr" set:html={item.text}></div>
            <div class="lootery-modal__note" set:html={item.note}></div>
            <div class="lootery-modal__action">
                <div class="lootery-modal__action-logo">
                    <img src="img/lootery/logo.png" width="100" height="39" alt="">
                    <!--
                    <svg width="90" height="35" viewBox="0 0 90 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M83.178 25.1264V21.6543L90 9.625H86.172L81.636 18.058H81.441L76.809 9.625H72.915L79.737 21.6543V25.1264H83.178ZM67.077 13.3457H67.302L69.813 19.4225H64.569L67.077 13.3457ZM65.502 9.625L58.359 25.1264H61.995L63.249 22.3684H71.163L72.42 25.1264H76.152L69.009 9.625H65.502ZM53.625 18.1187H49.119V12.5709H53.4C54.3 12.5709 55.071 12.8802 55.587 13.4671C55.974 13.9643 56.262 14.6148 56.262 15.3607C56.262 16.1355 56.004 16.7859 55.524 17.3121C55.071 17.8411 54.426 18.1187 53.625 18.1187ZM59.706 15.3607C59.706 13.7793 59.061 12.4148 58.032 11.4232C56.907 10.2755 55.329 9.625 53.529 9.625H45.678V25.1264H49.119V21.0646H53.529C55.329 21.0646 56.97 20.3505 58.098 19.2346C59.094 18.2112 59.706 16.8466 59.706 15.3607ZM28.767 18.5523V9.625H25.326V18.7084C25.326 19.8532 24.939 20.7552 24.327 21.3739C23.685 22.0244 22.785 22.4291 21.657 22.4291C20.565 22.4291 19.662 22.0562 18.954 21.345C18.279 20.6916 17.925 19.7925 17.925 18.7084V9.625H14.484V18.5523C14.484 20.443 15.255 22.1487 16.509 23.4207C17.763 24.6291 19.47 25.375 21.657 25.375C23.685 25.375 25.359 24.6927 26.613 23.5768C27.996 22.3048 28.767 20.5384 28.767 18.5523ZM0 9.625V25.1264H3.444V19.0496H11.454V16.1037H3.444V12.5998H12.45V9.625H0Z" fill="#07122E"/>
                        <path d="M28.3496 8.97979L36.898 0L45.4496 8.97979H41.4255V19.5547L32.1316 8.97979H28.3496ZM45.4496 25.1482L36.898 34.125L28.3496 25.1482H32.4056V14.5401L41.6645 25.1482H45.4496Z" fill="url(#paint0_linear_527_2208)"/>
                        <linearGradient id="paint0_linear_527_2208" x1="45.4496" y1="34.125" x2="19.7786" y2="25.4948" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#25ABE4"/>
                            <stop offset="1" stop-color="#255FE4"/>
                        </linearGradient>
                    </svg>
                    -->
                </div>
                <div class="lootery-modal__action-text" set:html={modalText}></div>
            </div>
            <div class="lootery-modal__button">
                <Button type="link" href="#" center="true" size="lg" set:html={buttonText}></Button>
            </div>
            <div class="lootery-modal__pagination">
                {items.map((item, pageIndex) => (
                    <div
                        class:list={[
                            'lootery-modal__page',
                            pageIndex == index ? 'is-active' : ''
                        ]}
                    ></div>
                ))}
            </div>
        </div>
    ))}
</div>
